
/* GENERAL */


/* FOOTER */
#sticky-footer {
  flex-shrink: none;
}

/* NAVBAR */

#navbar {
   transition: 0.5s;
}

#navbar:hover {
	background-color: #343a40 !important;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    #navbar { background-color: #343a40 !important;}
	.bannertext {margin-top: 100px;}
	.mentis-logo {margin-top: 150px !important}
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

/* NAVBAR BUTTON THAT HAS A CLICK-ON */

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* HOME PAGE CAROUSEL */

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* SELF-CREATED CLASSES */

h1.bannertext {
	text-shadow: 1px 1px 1px #828282;
}

.mentis-logo {
	margin-bottom: 100px;
}

.quote-text {
	color: white;
	font-style: italic;
}